{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create new listings{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" required>
    <label for="description">Description</label>
    <input type="description" name="description" id="description" required>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Create">
  </form>
{% endblock %}