{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Change your password{% endblock %}</h1>
{% endblock %}

{% block content %}
Hello <b>{{user.full_name}}</b>, please enter your current password and the new one you want to use:

{% if msg %}
<p>{{msg}}</p>
{% endif %}

<form method="post">
    <label for="current_password">Current Password</label>
    <input type="password" name="current_password" id="current_password" required>
    <br/>
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" required>
    <br/>
    <input type="submit" value="Change Password">
</form>
{% endblock %}
