{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="/user/logout">Logout</a>&nbsp;&nbsp;
<a href="/user/change_password">Change Password</a>&nbsp;&nbsp;
<a href="/listings/create">Create Listing</a>&nbsp;&nbsp;
<a href="/user/edit">Edit My Profile</a>
<br/>
Welcome <b>{{user.full_name}}</b> to the marketplace!
<h2>Your listings are:</h2>
{% for listing in user.listings %}
<article class="listing">
    <p>
        <a href="/listings/{{listing.id}}">{{ listing.title }}</a> <br />
        {{ listing.description }}
    </p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
